<div class="">
    <br/>
    <form class="" ng-submit="submitPeriods()">
      <label>Período Inicial</label>
      <input ng-model="period.start" type="date" name="name" value="" required>
      <br/>
      <label>Período Final</label>
      <input ng-model="period.end" type="date" name="name" value="">
      <input type="submit" name="name" value="Calcular">
    </form>

    <div style="width: 300; heigth: 800px">
      <canvas class="chart chart-line " chart-data="data" chart-labels="labels"
      chart-series="series" chart-click="onClick"></canvas>
    </div>
    <input ng-click="showStats()" type="button" name="" value="Apresentar Stats">
    <div class="results">
      <table style="width=500px">
        <tr>
          <td>Dia de maior cotação: </td>
          <td>{{ major.day }} </td>
          <td>{{ major.quotation }} </td>
        </tr>
        <tr>
          <td>Dia de menor cotação:</td>
          <td>{{ minor.day }}</td>
          <td>{{ minor.quotation }}</td>
        </tr>
      </table>
    </div>
</div>
