<div class="">
    <h1>Bem vindo ao DollarApp!</h1>
    <form class="" ng-submit="submitPeriods()">
      <label>Período Inicial</label>
      <input ng-model="period.start" type="date" name="name" value="" required>
      <br/>
      <label>Período Final</label>
      <input ng-model="period.end" type="date" name="name" value="">
      <input type="submit" name="name" value="Calcular">
    </form>
    
    <div style="width: 300; heigth: 800px">
      <canvas class="chart chart-line " chart-data="data" chart-labels="labels"
      chart-series="series" chart-click="onClick"></canvas>
    </div>

</div>
